{% extends 'base2.html.twig' %}

{% block title %}
    Segmentation GSB 
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Segmentation GSB</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            
                            <p class="text-light" style="font-size:30px">
                                contenu à mettre<br/><br/>
                            </p>
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>contenu à mettre</b></u><br/><br/>
                                contenu à mettre<br/><br/>                       
                            </p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}