{% extends 'base2.html.twig' %}

{% block title %}
    Les domaines
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Les domaines</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            <br> 
                            {% for unDomaine in listeDomaines %}
                                <p class="text-light" style="font-size:30px"> 
                                    <u>Domaine :</u> {{ unDomaine.nomDomaine }}, <br>
                                    <u>Catégorie(s) :</u>                                    
                                    <br> <br> <br>
                                </p>
                            {% endfor %}                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}