{% extends 'base2.html.twig' %}

{% block title %}
    Gestion GSB 
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Gestion de GSB</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            
                            <p class="text-light" style="font-size:30px">
                                Gestion du laboratoire GSB<br/><br/>
                            </p>
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>La Réorganisation</b></u><br/><br/>
                                Une conséquence de cette fusion, est la recherche d'une optimisation de l’activité du groupe ainsi
                                constitué en réalisant des économies d’échelle dans la production et la distribution des médicaments
                                (en passant par une nécessaire restructuration et vague de licenciement), tout en prenant le meilleur
                                des deux laboratoires sur les produits concurrents.
                                <br><br>
                                
                                L'entreprise compte 480 visiteurs médicaux en France métropolitaine (Corse comprise), et 60 dans les
                                départements et territoires d'outre-mer. Les territoires sont répartis en 6 secteurs géographiques
                                (Paris-Centre, Sud, Nord, Ouest, Est, DTOM Caraïbes-Amériques, DTOM Asie-Afrique).
                                Une vision partielle de cette organisation est présentée ci-dessous.<br/><br/>   
                                
                                <img src="img/organisation_gsb.png"/>
                            </p>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}