{% extends 'base2.html.twig' %}

{% block title %}
    Répartition GSB 
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Répartition GSB</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            
                            <p class="text-light" style="font-size:30px">
                                Organisation du réseau<br/><br/>
                            </p>
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>Répartition des services</b></u><br/><br/>
                                Chaque étage dispose d'une baie de brassage qui 
                                le relie par une fibre à la
                                baie centrale de la salle serveurs. <br><br>
                                
                                Toutes les salles de réunion sont
                                équipées d'un point d'accès Wifi
                                positionné par défaut dans le VLAN
                                "Visiteurs" qui autorise uniquement un
                                accès Internet.
                                Les portables connectés en wifi à ce
                                point d'accès reçoivent ainsi une
                                adresse IP et n'ont, par conséquent
                                accès qu'aux services DHCP et DNS.<br><br>
                                
                                Le point d’accès peut être configuré à
                                la demande pour être raccordé à un
                                VLAN présent au niveau de l'étage. <br><br>
                                
                                Chaque salle de réunion dispose d'un
                                vidéoprojecteur, d'enceintes et d'un
                                tableau numérique interactif. <br><br>
                                
                                La salle "Démonstration" est destinée à
                                l'accueil des organismes de santé
                                (AFSSAPS notamment) et des
                                partenaires scientifiques. Elle dispose
                                de paillasses et d'équipements de
                                laboratoire, en plus d'une salle de
                                réunion.<br/><br/>                       
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}