{% extends 'base2.html.twig' %}

{% block title %}
    Présentation GSB 
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Présentation GSB</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            
                            <p class="text-light" style="font-size:30px">
                                Description du laboratoire GSB :<br/><br/>
                            </p>
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>Le secteur d'activité :</b></u><br/><br/>
                                L’industrie pharmaceutique est un secteur très lucratif dans lequel le mouvement de fusion acquisition
                                est très fort. Les regroupements de laboratoires ces dernières années ont donné naissance à des
                                entités gigantesques au sein desquelles le travail est longtemps resté organisé selon les anciennes
                                structures.
                                Des déboires divers récents autour de médicaments ou molécules ayant entraîné des complications
                                médicales ont fait s'élever des voix contre une partie de l'activité des laboratoires : la visite médicale,
                                réputée être le lieu d' arrangements entre l'industrie et les praticiens, et tout du moins un terrain
                                d'influence opaque.<br/><br/>                       
                            </p>
                            
                            <br/><br/><br/>
                            
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>L'entreprise :</b></u><br/><br/>
                                Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le géant américain Galaxy
                                (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et le conglomérat
                                européen Swiss Bourdin (travaillant sur des médicaments plus conventionnels), lui même déjà union
                                de trois petits laboratoires .
                                En 2009, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur
                                industriel. L'entité Galaxy Swiss Bourdin Europe a établi son siège administratif à Paris.
                                Le siège social de la multinationale est situé à Philadelphie, Pennsylvanie, aux Etats-Unis.
                                ance a été choisie comme témoin pour l'amélioration du suivi de l'activité de visite.
                            </p>
                            
                            <br/><br/><br/>
                            
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>Le système informatique :</b></u><br/><br/>
                                Sur le site parisien, toutes les fonctions administratives (gestion des ressources humaines,
                                comptabilité, direction, commerciale, etc.) sont présentes. On trouve en outre un service laborecherche, le service juridique et le service communication.
                                La salle serveur occupe le 6ème étage du bâtiment et les accès y sont restreints (étage accessible par
                                ascenseur à l'aide d'une clé sécurisée, portes d'accès par escalier munies d'un lecteur de badge, sas
                                d'entrée avec gardien présent 24h/24).
                                Les serveurs assurent les fonctions de base du réseau (DHCP, DNS, Annuaire et gestion centralisée
                                des environnements) et les fonctions de communication (Intranet, Messagerie, Agenda partagé, etc.).
                                On trouve aussi de nombreuses applications métier (base d'information pharmaceutique, serveurs
                                dédiés à la recherche, base de données des produits du laboratoire, base de données des licences
                                d'exploitation pharmaceutique, etc.) et les fonctions plus génériques de toute entreprise (Progiciel de
                                Gestion Intégré avec ses modules RH, GRC, etc.).
                                Un nombre croissant de serveurs est virtualisé.
                                Constitué autour de VLAN, le réseau segmente les services de manière à fluidifier le trafic.
                                Les données de l'entreprises sont considérées comme stratégiques et ne peuvent tolérer ni fuite, ni
                                destruction. L'ensemble des informations est répliqué quotidiennement aux Etats-Unis par un lien
                                dédié. Toutes les fonctions de redondances (RAID, alimentation, lien réseau redondant, Spanningtree, clustering, etc.) sont mises en œuvre pour assurer une tolérance aux pannes maximale.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}