{% extends 'base2.html.twig' %}

{% block title %}
    Equipements GSB 
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Equipements GSB</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            
                            <p class="text-light" style="font-size:30px">
                                Présentation de l'équipement de GSB<br/><br/>
                            </p>
                            <p class="text-light" style="font-size:30px;text-align:justify"><u><b>L'équipement</b></u><br/><br/>
                                L'informatique est fortement répandue sur le site. Chaque employé est équipé d'un poste fixe relié au
                                système central. On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs
                                physiques conséquent (45 en 2012) sur lesquels tournent plus de 100 serveurs virtuels. <br> <br>
                                
                                On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une multitude
                                d'ordinateurs portables (personnels de direction, service informatique, services commerciaux, etc). <br> <br>
                                
                                Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique
                                Swiss-Bourdin) ou une dotation en équipement (politique Galaxy). Il n'y a pas à l'heure actuelle
                                d'uniformisation des machines ni du mode de fonctionnement. <br> <br>
                                
                                Chaque employé de l'entreprise a une adresse de messagerie de la forme nomUtilisateur@swissgalaxy.com. Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er
                                janvier 2011. <br/><br/>                       
                            </p>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}