{% extends 'base2.html.twig' %}

{% block title %}
    Les utilisateurs sans des frais
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Les utilisateurs sans des frais</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            {% if listeUtilisateursBySansFrais is empty %}
                                <p class="text-light" style="font-size:30px"> Les utilisateurs ont tous des frais </p>
                            {% else %}
                                {% for unUtilisateur in listeUtilisateursBySansFrais %}
                                    <p class="text-light" style="font-size:30px">
                                        Nom utilisateur : {{ unUtilisateur.nom }},<br>
                                        Prénom utilisateur : {{ unUtilisateur.prenom }}</p>
                                {% endfor %} 
                            {% endif %}                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}